<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/common.css"/>
    <title>阿卡林-星哥的博客</title>
    <meta name="keywords" content="PHP,Apache,Nginx,MySql,Redis">
    <meta name="description" content="专注PHP技术分享">
</head>
<body>
<div id="wrap">
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>

    </div>

    <div id="main">
        <div id="banner">
            <div id="banner_bg"></div>
            <!--标题背景-->
            <div id="banner_info"></div>
            <!--标题-->
            <ul>
                <li class="on">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
            <div id="banner_list">
                <a href="#" target="_blank"><img src="__PUBLIC__/Home/images/p1.jpg" title="jquery插件库1" alt="jquery插件库1"/></a>
                <a href="#" target="_blank"><img src="__PUBLIC__/Home/images/p2.jpg" title="jquery插件库2" alt="jquery插件库2"/></a>
                <a href="#" target="_blank"><img src="__PUBLIC__/Home/images/p3.jpg" title="jquery插件库3" alt="jquery插件库3"/></a>
                <a href="#" target="_blank"><img src="__PUBLIC__/Home/images/p1.jpg" title="jquery插件库4" alt="jquery插件库4"/></a>
            </div>
        </div>
        <section class="container">
            <article class="f-14 l-30 mt-20">
                <p style="text-indent: 2em">阿卡林-星哥的博客，专注于PHP技术的开发与分享。</p>
                <p style="text-indent: 2em">优秀的程序猿（媛）应该保持一颗对技术热忱的心。</p>
                <p style="text-indent: 2em">生活中总是有些东西从别人口中说出来，自己都会觉得很容易，也就那么点东西，没什么值得骄傲，但其实知道一些东西不容易，讲给别人并使其听懂更不容易。</p>
                <p style="text-indent: 2em">生活当中也有一些东西在你用到时候很精通，时间长了却恍如迎面而来的路人一样陌生，要从头开始了解。</p>
                <p style="text-indent: 2em">生活中曾在各大门户、微博、博客逛来逛去，合上电脑，闭上眼睡觉什么都没留下，唯有总结才能有收获。</p>
                <p style="text-indent: 2em">工作或学习当中，你是否会发现很多人再问同样的问题帖子，但没人回答，往下继续查看，通常都是以已经解决结束，却看不到具体解决办法。</p>
                <p style="text-indent: 2em">
                    这就是博客存在的原因，希望能记录、分享我们遇到的难题和我们认为比较精彩的内容(无论是技术类还是为人处事)，也希望能帮助一些人解决他们遇到的难题，同时提高自己的表达和总结能力。</p>
                <p style="text-indent: 2em">博客坚持分享、开放的互联网精神，旨在为广大互联网攻城师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</p>
                <p style="text-indent: 2em">欢迎有技术、有经验、有问题、有态度、有故事的你前来分享！</p>
                <p style="text-indent:2em">最后，感谢Thinkphp与H-ui前端框架的开发者们付出的艰辛努力！！！</p>
                <p class="text-r">——星哥</p>
            </article>
        </section>


    </div>

    <div id="footer">
        <footer class="footer mt-20">
            <section class="flink-text">
                <h4>友情链接</h4>
                <a id="tongji_mycodes" href="http://www.mycodes.net/154/8226.htm" target="_blank" title="源码之家">源码之家</a>
                <a id="tongji_juheweb" href="http://www.juheweb.com/zy/xg/40.html" target="_blank" title="聚合分享素材网">聚合分享素材网</a>
                <a id="tongji_oschina" href="http://www.oschina.net/p/h-ui" target="_blank" title="开源中国">开源中国</a>
                <a id="tongji_openwbs" href="http://www.openwbs.com/" target="_blank" title="OpenWBS商城系统">OpenWBS商城系统</a>
                <a id="tongji_js-css" href="http://www.js-css.cn/a/openframe/cssframe/2014/0702/1237.html" target="_blank" title="JS代码网">JS代码网</a>
                <a id="tongji_html580" href="http://www.html580.com/11656/" target="_blank" title="HTML 580">HTML 580</a>
                <a id="tongji_daimajiayuan" href="http://www.daimajiayuan.com/" target="_blank" title="代码家园">代码家园</a>
                <a id="tongji_xinyicms" href="http://www.xinyicms.com/" target="_blank" title="xinyiCMS">新亿CMS</a>
                <a id="tongji_webgee" href="http://www.webgee.com/" target="_blank" title="网络资源分享平台">网极资源分享</a>
                <a id="tongji_itput" href="http://www.itput.cn/" target="_blank" title="">IT葡萄</a>
            </section>
            <div class="container">
                <nav class="footer-nav">
                    <a target="_self" href="__ROOT__">阿卡林-星哥的博客</a>
                    <!--<span class="pipe">|</span>-->
                    <!--<a target="_blank" href="/copyright.shtml">软件著作权</a>-->
                    <!--<span class="pipe">|</span>-->
                    <!--<a target="_blank" href="/juanzeng.shtml">感谢捐赠</a>-->
                </nav>
                <p> Copyright &copy;2012-2016
                    <a rel="nofollow" target="_blank" href="http://weibo.com/xinghu520">上郡星哥(mike hu) </a>All Rights Reserved.<br>
                    <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">赣ICP15008163号</a><br>
                </p>
            </div>
        </footer>
        <script type="text/javascript" src="__ROOT__/Public/lib/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="__ROOT__/Public/Home/js/common.js"></script>
    </div>
</div>
</body>
</html>