<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ROOT__/Public/lib/html5.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/respond.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/lib/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/lib/icheck/icheck.css"/>
    <!--<link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui/skin/default/skin.css" id="skin" />-->

    <link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="__ROOT__/Public/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    <title>阿卡林-星哥的博客</title>
    <meta name="keywords" content="PHP,Apache,Nginx,MySql,Redis">
    <meta name="description" content="专注PHP技术分享">
</head>
<body>
<div id="header">
    <header class="navbar-wrapper">
        <div class="navbar navbar-black navbar-fixed-top">
            <div class="container cl">
                <a class="logo navbar-logo hidden-xs" href="/aboutHui.shtml">阿卡林-星哥的博客</a>
                <a class="logo navbar-logo-m visible-xs" href="/aboutHui.shtml">H-ui</a>
                <span class="logo navbar-slogan hidden-xs">专注 &middot; 分享 &middot; PHP技术</span>
                <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
                <nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
                    <ul class="cl">
                        <li class="current"><a href="/">首页</a></li>
                        <li class="dropDown dropDown_hover"><a href="#" class="dropDown_A">PHP技术<i class="Hui-iconfont">
                            &#xe6d5;</i></a>
                            <ul class="dropDown-menu menu radius box-shadow">
                                <li><a href="#">类库推荐</a></li>
                                <li><a href="#">技巧拾遗</a></li>
                            </ul>
                        </li>
                        <li class="dropDown dropDown_hover"><a href="#" class="dropDown_A">前端技术<i class="Hui-iconfont">
                            &#xe6d5;</i></a>
                            <ul class="dropDown-menu menu radius box-shadow">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">JavaScript</a></li>
                                <li><a href="#">CSS</a></li>
                            </ul>
                        </li>
                        <li class="dropDown dropDown_hover"><a href="#" class="dropDown_A">后端技术<i class="Hui-iconfont">
                            &#xe6d5;</i></a>
                            <ul class="dropDown-menu menu radius box-shadow">
                                <li><a href="#">PHP</a></li>
                                <li><a href="#">Nginx</a></li>
                                <li><a href="#">Apache</a></li>
                            </ul>
                        </li>
                        <li class="dropDown dropDown_hover"><a href="#" class="dropDown_A">数据技术<i class="Hui-iconfont">
                            &#xe6d5;</i></a>
                            <ul class="dropDown-menu menu radius box-shadow">
                                <li><a href="#">MySql</a></li>
                                <li><a href="#">Redis</i></a></li>
                                <li><a href="#">MongoDB</a></li>
                            </ul>
                        </li>
                        <li><a href="#">随笔</a></li>
                        <li><a href="#">关于我</a></li>
                    </ul>
                </nav>

                <nav class="navbar-userbar hidden-xs"></nav>
            </div>
        </div>
    </header>
    <nav class="breadcrumb">
        <div class="container">
            <i class="Hui-iconfont">&#xe67f;</i> <a href="/" class="c-primary">首页</a><span class="c-gray en">&gt;</span><a
                href="#">组件</a><span class="c-gray en">&gt;</span><span class="c-gray">当前页面</span>
        </div>
    </nav>
</div>

<!--banner-->
<div class="banner">

        <div class="item"><img src="__PUBLIC__/Home/images/banner1.jpg" width="100%" height="300px"/></div>
        <!--<div class="item"><images src="__PUBLIC__/Home/images/banner2.jpg" width="100%" height="300px" /></div>-->
        <!--<div class="item"><images src="__PUBLIC__/Home/images/banner3.jpg" width="100%" height="300px" /></div>-->

</div>
<div id="container" style="width: 100%; height:300px;">
        <p style="text-indent: 2em">阿卡林-星哥的博客，分享互联网开发的技术与经验。</p>
        <p style="text-indent: 2em">程序猿（媛）没有不会的，只有还没学的。</p>
        <p style="text-indent: 2em">生活中总是有些东西从别人口中说出来，自己都会觉得很容易，也就那么点东西，没什么值得骄傲，但其实知道一些东西不容易，讲给别人并使其听懂更不容易。</p>
        <p style="text-indent: 2em">生活当中也有一些东西在你用到时候很精通，时间长了却恍如迎面而来的路人一样陌生，要从头开始了解。</p>
        <p style="text-indent: 2em">生活中曾在各大门户、微博、博客逛来逛去，合上电脑，闭上眼睡觉什么都没留下，唯有总结才能有收获。</p>
        <p style="text-indent: 2em">工作或学习当中，你是否会发现很多人再问同样的问题帖子，但没人回答，往下继续查看，通常都是以已经解决结束，却看不到具体解决办法。</p>
        <p style="text-indent: 2em">这就是博客存在的原因，希望能记录、分享我们遇到的难题和我们认为比较精彩的内容(无论是技术类还是为人处事)，也希望能帮助一些人解决他们遇到的难题，同时提高自己的表达和总结能力。</p>
        <p style="text-indent: 2em">博客坚持分享、开放的互联网精神，旨在为广大互联网攻城师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</p>
        <p style="text-indent: 2em">欢迎有技术、有经验、有问题、有态度、有故事的你前来分享！</p>
        <br/>
        <br/>
        <br/>
</div>
<div id="footer">
    <footer class="footer mt-20">
        <div class="container">
            <nav class="footer-nav">
                <a target="_self" href="__ROOT__">阿卡林-星哥的博客</a>
                <!--<span class="pipe">|</span>-->
                <!--<a target="_blank" href="/copyright.shtml">软件著作权</a>-->
                <!--<span class="pipe">|</span>-->
                <!--<a target="_blank" href="/juanzeng.shtml">感谢捐赠</a>-->
            </nav>
            <p> Copyright &copy;2012-2016 <a rel="nofollow" target="_blank" href="http://weibo.com/xinghu520"> 上郡星哥
                (mike hu) </a>All Rights Reserved.<br>
                <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">赣ICP15008163号</a><br>
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="__ROOT__/Public/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/icheck/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/bootstrap-Switch/bootstrapSwitch.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/Validform/5.3.2/Validform.min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/lib/Validform/5.3.2/passwordStrength-min.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/static/h-ui/js/H-ui.js"></script>
</div>
</body>
</html>